# Environment variables and Nginx variables
.env

# Nginx self-signed certificates
conf/nginx/ssl/*
!conf/nginx/ssl/.gitkeep

# Data
data/certbot/*/*
!data/certbot/*/.gitkeep

# Logs
logs/nginx/*
!logs/nginx/.gitkeep

