[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=7.1"
more-itertools = "~=9.1"
regex = "~=2022.7.25"

[dev-packages]

[requires]
python_version = "3.9"
