[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=8.0"
more-itertools = "~=8.10"
regex = "~=2021.9.30"

[dev-packages]

[requires]
python_version = "3.9"
