[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=7.1"
more-itertools = "~=8.10"
regex = "~=2021.11.9"

[dev-packages]

[requires]
python_version = "3.9"
