# Source CSV and ZIP files
00-source/csv/*
!00-source/csv/.gitkeep
00-source/zip/*
!00-source/zip/.gitkeep

# Corrected CSV and GZ files
01-corrected/csv/*
!01-corrected/csv/.gitkeep
01-corrected/gz/*
!01-corrected/gz/.gitkeep
